*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid black;
   width: 29%;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    /* grid-template-rows: repeat(2, 85px) ; */
    gap: 10px;
    padding: 20px;
    }

.box{
  background-color: bisque;
  color: black;
  padding: 20px;
  font-size:150%;
  border-radius: 5px;
}

.box-a{
    grid-column: 1/3;
    grid-row: 1;
}

.box-b{
    grid-column: 3;
    grid-row: 1/3;
}

.box-c{
    grid-column: 1;
    grid-row: 2;
}

.box-d{
    grid-column: 2;
    grid-row: 2;
}